.page-project{
  padding-bottom: 50px - $grid-gutter-width;
  .ged-card{
    max-height: 560px;
    background: $color-background;
    overflow: hidden;
    .base-card__content{
      padding: 0;
    }
  }
  .table-spaced{
    &__items--body--state, &__items--header--state{
      @include justify-content(center);
      .loader-blobs{
        .blob, .blob-center{
          height: 10px;
          width: 10px;
        }
      }
    }
    &__items--header--actions{
      min-width: 209px;
    }
    &__items--body--name, &__items--header--name{
      padding-right: $grid-gutter-width;
    }
  }
  .card-project{
    padding: 0;
    .card-bd__title{
      padding: 0;
      &:after{
        display: none;
      }
    }
    .card-bd__header{
      .icon-eye{
        cursor: pointer;
        @include transition(all ease 0.5s);
        &:hover{
          fill: $color-primary;
        }
      }
    }
    .card-bd__body{
      padding: 22px 27px;
      height: 61px;
    }
  }
  .content-project{
    width: 100%;

    @include media-breakpoint-up(lg){
      margin-right: 20px;
      width: calc(100%/3 * 2 - 20px);
    }

    .model-preview-slider{
      height: 338px;
      background: $bg-preview;
    }
  }
  .user-project{
    width: 100%;

    @include media-breakpoint-up(lg){
      margin-left: 20px;
      width: calc(100%/3 - 20px);
    }
  }

  .main-ifc{
    @include flexbox;
    @include flex-direction(column);

    @include media-breakpoint-up(md){
      height: 399px;
      @include flex-direction(row);
    }

    &__map-info-content{
      margin-bottom: 21px;
      width: 100%;
      box-shadow: 0 2px 10px 0 rgba($color-black,.07);

      @include media-breakpoint-up(md){
        margin: 0 21px 0 0;
        max-width: 327px;
      }
    }

    &__info-project{
      margin-right: 0;
      width: 100%;
      height: 338px;
    }
    &__navigation-project{
      padding: 16px 11px;
      height: 61px;
      @include flexbox;
      @include align-items(center);
      &__title{
        width: 75%;
      }
    }

    &__map{
      margin: 0;
      width: 100%;
      height: 379px;
      position: relative;

      @include media-breakpoint-up(md){
        height: 100%;
      }

      .map-wrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      #base-map{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__detail-content{
      width: 50%;
    }
  }
}
